.block1 {
  position: absolute;
  margin-top: 304px;
  margin-left: 142px;
}

.container1 {
  position: absolute;
}

.container1__case1 {
  min-width: 865px;
}

.case1__text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 82px;
  line-height: 98px;
  /* or 120% */

  color: #1e2a39;
}

.case1__vector {
  position: absolute;
  z-index: 1;
  margin-top: -112px;
  margin-left: 200px;
  min-width: 482px;
  min-height: 123px;
}

.container1__case1-text2 {
  margin-top: 16px;
  max-width: 523px;
}

.case1__text2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #464646;
}

.container1__case2 {
  margin-top: 120px;
}
