.header {
  display: flex;
  align-items: center;
  margin-top: -1050px;
  justify-content: space-between;
  margin-right: 126px;
}
.header__logo-wrapper {
  margin-left: 122px;
  margin-top: -38px;
  position: relative;
  min-width: 141px;
}
.header__logo-img {
  position: absolute;
  left: 0;
  top: 0;
}

p > span {
  color: white;
}

.header__logo-text {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: black;
  /* identical to box height */

  letter-spacing: 0.04em;
}

.header__menu {
  position: relative;
  z-index: 1;
  margin-left: 470px;
  max-width: 600px;
}

.header__spisok {
  height: 83px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.header__li > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  text-decoration: none;
  letter-spacing: 0.02em;

  color: #252641;
}

.header__ssilka1 {
}

.header__ssilka2 {
}

.header__ssilka3 {
}

.header__ssilka4 {
  min-width: 102px;
}

.header__knopka-wrapper {
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__div1 {
  z-index: 1;
  background-color: white;
  height: 60px;
  width: 160px;
  border-radius: 80px;
  text-align: center;
  line-height: 60px;
}

.header__ssilka-div1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #6c6c6c;
}

.header__div2 {
  z-index: 1;
  background-color: black;
  height: 60px;
  width: 160px;
  border-radius: 80px;
  text-align: center;
  line-height: 60px;
}

.header__ssilka-div2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #ffffff;
}
